@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*glowny pojemnik*/
#all {
  background-color: rgba(0, 0, 0, 0.719);
  height: 100vh;
  width: 100vw;
}
/*wszystko, radio btns, pesel, guzik od wyslania */
#div_lista_kandydatow {
  gap: 20px;
}
/*lista, same wybory kandydatow*/
#lista_kandydatow {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 30px;
}
/*tytul, "zalglosuj na kandydata"*/
#title {
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
/*calosc od jednego kandydata*/
/*kandydat LABEL*/
.kandydat_label {
  font-family: "Tilt Warp", cursive;
  color: white;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  font-size: 25px;
}
/*kandydat INPUT*/
.kandydat {
  height: 20px;
  width: 20px;
}
/*kandydat DIV*/
.div_kandydat {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 10px;
}

/*input pesel LABEL*/
#pesel_label {
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 25px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
/*input pesel DIV*/
#input_pesel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
/*INPUT pesel*/
#pesel {
  font-size: 20px;
  font-family: "Tilt Warp", cursive;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  height: 30px;
  width: 200px;
}
/*guzik od wyslanie*/
.przycisk {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Tilt Warp", cursive;
  cursor: pointer;
}
