@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*glowny pojemnik*/
#all {
  position: relative;
  background-color: rgba(0, 0, 0, 0.719);
  height: 100vh;
  width: 100vw;
}
/*wszystko, radio btns, pesel, guzik od wyslania */
#div_lista_kandydatow {
  gap: 20px;
}
/*lista, same wybory kandydatow*/
#lista_kandydatow {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 30px;
}
/*tytul, "zalglosuj na kandydata"*/
.title {
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
/*calosc od jednego kandydata*/
/*kandydat DIV*/
.div_kandydat {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 10px;
}

/*input pesel LABEL*/
#pesel_label {
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 25px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
/*input pesel DIV*/
#input_pesel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
/*INPUT pesel*/
#pesel {
  font-size: 30px;
  padding: 10px;
  font-family: "Tilt Warp", cursive;
  background-color: rgb(141, 140, 140);
  text-align: center;
  border-radius: 15px;
  height: 30px;
  width: 200px;
  transition: background-color 0.4s;
  border: 5px solid black;
  transition: background-color 0.3s ease-in-out;
}
#pesel:focus {
  background-color: skyblue;
}
/*guzik od wyslanie*/
.przycisk {
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Tilt Warp", cursive;
  cursor: pointer;
}
#admin_btn {
  cursor: pointer;
  font-family: "Tilt Warp", cursive;
  font-size: 30px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.label {
  position: relative;
  font-family: "Tilt Warp", cursive;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-size: 28px;
  cursor: pointer;
  border: 5px solid black;
  height: 60px;
  width: 350px;
  min-height: 60px;
  min-width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(141, 140, 140);
  transition: background-color 0.3s ease-in-out;
}
.kandydat {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 15px;
  display: none;
}

.label:hover {
  background-color: lightgray;
}
#pesel:hover {
  background-color: lightgray;
}
.kandydat:checked + .label {
  background-color: skyblue;
}
