@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
body {
  background-color: rgba(0, 0, 0, 0.719);
  box-sizing: border-box;
  margin: 0;

  overflow-y: auto;
  overflow-x: hidden;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*glowny pojemnik*/
#all {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/*wszystko, radio btns, pesel, guzik od wyslania */
#div_lista_kandydatow {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*lista, same wybory kandydatow*/
#lista_kandydatow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border: 5px solid #0000;
  border-radius: 20px;
  padding: 25px;
}
/*tytul, "zalglosuj na kandydata"*/
.title {
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
/*calosc od jednego kandydata*/
/*kandydat DIV*/
.div_kandydat {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 10px;
  height: 70px;
}
/*input pesel LABEL*/
#pesel_label {
  font-family: "Tilt Warp", cursive;
  color: white;
  font-size: 25px;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}
/*input pesel DIV*/
#input_pesel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
/*INPUT pesel*/
#pesel {
  font-size: 30px;
  padding: 10px;
  font-family: "Tilt Warp", cursive;
  background-color: rgb(141, 140, 140);
  text-align: center;
  border-radius: 15px;
  height: 30px;
  width: 200px;
  transition: background-color 0.4s;
  border: 5px solid black;
  transition: background-color 0.3s ease-in-out;
}
#pesel:focus {
  background-color: skyblue;
}
/*guzik od wyslanie*/
.przycisk {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  font-family: "Tilt Warp", cursive;
  cursor: pointer;
  box-shadow: 0px 0px 5px;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
}
.przycisk:hover {
  transform: scale(1.2);
  background-color: skyblue;
}
#admin_btn {
  cursor: pointer;
  font-family: "Tilt Warp", cursive;
  font-size: 30px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.label {
  position: relative;
  font-family: "Tilt Warp", cursive;
  color: rgb(255, 255, 255);
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-size: 28px;
  cursor: pointer;
  border: 5px solid black;
  height: 70px;
  width: 350px;
  min-height: 60px;
  min-width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(141, 140, 140);
  transition: background-color 0.3s ease-in-out;
}
.kandydat {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 15px;
  display: none;
}

.label:hover {
  background-color: lightgray;
}
#pesel:hover {
  background-color: lightgray;
}
.kandydat:checked + .label {
  background-color: skyblue;
}
/*glosy*/
.popup_glos {
  cursor: not-allowed;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 15px;
  border: 2px solid black;
  font-family: "Tilt Warp", cursive;
  padding: 0 20px 0;
  box-shadow: 0px 0px 4px;
  visibility: hidden;
  transform: scale(0.1);
}
#inside_popup_glos {
  cursor: auto;
  background-color: white;
  border-radius: 15px;
  border: 2px solid black;
  font-family: "Tilt Warp", cursive;
  box-shadow: 0px 0px 20px black;
  border: 5px solid black;
  padding: 0 20px 0;
  box-shadow: 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 22vw;
  height: 22vh;
}
#guziki_popup {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}
.open-popup_glos {
  visibility: visible;
  transform: scale(1);
}
.popup_btn {
  border: 2px solid black;
  font-family: "Tilt Warp", cursive;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 0px 2px;
  transition: transform 0.2s ease-in-out;
}
.popup_btn:hover {
  transform: scale(1.1);
}

/*haslo*/
.popup_haslo {
  cursor: not-allowed;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 15px;
  border: 2px solid black;
  font-family: "Tilt Warp", cursive;
  padding: 0 20px 0;
  box-shadow: 0px 0px 4px;
  visibility: hidden;
  transform: scale(0.1);
}
#inside_popup_haslo {
  cursor: auto;
  background-color: white;
  border-radius: 15px;
  font-family: "Tilt Warp", cursive;
  box-shadow: 0px 0px 20px black;
  border: 5px solid black;
  padding: 0 20px 0;
  box-shadow: 0px 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 22vw;
  height: 22vh;
}
#guziki_popup_haslo {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}
.open-popup_haslo {
  visibility: visible;
  transform: scale(1);
}
#haslo {
  margin: 15px;
  text-align: center;
  border-radius: 15px;
  font-size: 25px;
  height: 50px;
  font-family: "Tilt Warp", cursive;
}
