/*import czcionki z google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
body {
  /* background-color: whitesmoke; */
  background-color: rgba(0, 0, 0, 0.719);
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}
/*tytul strony*/
#admin_title {
  text-align: center;
  font-family: "Tilt Warp", cursive;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*pojemnik na "tabele"*/
#all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px;
  gap: 15px;
}
/*guziki glowne, pod "admin"*/
.przycisk {
  font-family: "Tilt Warp", cursive;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  border: 3px solid black;
}
.przycisk:hover {
  transform: translateY(-10px);
}
/*wyglad jednego glosu w kolumnie*/
.wynik {
  font-family: "Tilt Warp", cursive;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 100;
}
/*guzik od usuwania glosu*/
.remove_btn {
  border-radius: 10px;
  font-family: "Tilt Warp", cursive;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
}
#dodawanie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px;
  gap: 15px;
}
.div {
  position: relative;
  border: 5px solid black;
  background-color: rgb(116, 115, 115);
  height: 45vh;
  width: 23vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
.tytul {
  font-family: "Tilt Warp", cursive;
  font-size: 32px;
  position: absolute;
  top: 5px;
}
.usun_kandydata {
  text-align: center;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  left: 4px;
  top: 4px;
}
.pesel {
  font-family: "Tilt Warp", cursive;
  font-size: 25px;
  letter-spacing: 2.5px;
}
.div_wynik {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 90%;
  height: 70%;
}
.div_tytul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}

#admin_text {
  position: relative;
  width: 100vw;
  font-size: 25px;
}
#powrot {
  position: absolute;
  left: 20px;
  top: 20px;
}
.haslo {
  font-family: "Tilt Warp", cursive;
  font-size: 30px;
  letter-spacing: 1.5px;
}
#miejsce_na_wykres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 90px;
}
#wykres {
  width: 50vw;
}
