@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: hidden;
}
:root {
  --gray: lightgray;
}
#all {
  display: grid;
  grid-auto-flow: column;
  margin: 15px;
  gap: 15px;
}
.columna {
  height: 80vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}
.kandydat {
  border: 5px solid black;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#admin_title {
  text-align: center;
  font-family: "Tilt Warp", cursive;
  font-size: 20px;
}
.title_in_column {
  font-family: "Tilt Warp", cursive;
  letter-spacing: 2px;
  font-size: 40px;
}
#przycisk {
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}
.wynik {
  font-family: "Tilt Warp", cursive;
  letter-spacing: 2px;
  font-size: 25px;
  font-weight: 100;
}
