body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
#all {
  display: grid;
  grid-auto-flow: column;
}
.columna {
  height: 90vh;
}
#kandydat_1 {
  background-color: rgba(201, 196, 196, 0.56);
}
#kandydat_2 {
  background-color: rgb(133, 133, 227);
}
#kandydat_3 {
  background-color: tomato;
}
